## In Class Exercise

The JHO's select

### Exercise 4
Create a list, squares, that consists of the squares of the numbers 1 to 10. A list
comprehension could be useful here. Use filter() and a lambda expression to print out
only the squares that are between 30 and 70 (inclusive).

In [7]:
list(filter(lambda x: 30< x < 70, [x**2 for x in range(1,11)]))

[36, 49, 64]

### Exercise 5
The string  
garbled = "!XeXgXaXsXsXeXmX XtXeXrXcXeXsX XeXhXtX XmXaX XI"  
is garbled in two ways:  
* First, our message is backwards;
* Second, the letter we want is every other letter.  
Use lambda and filter to extract the message and save it to a variable called message.  
Use list slicing to extract the message and save it to a variable called message.

In [1]:
from functools import reduce
garbled = "!XeXgXaXsXsXeXmX XtXeXrXcXeXsX XeXhXtX XmXaX XI"
# could use ''.join() but what's the fun in that?
str_fixed = reduce(lambda x, y: x + y , [l for i,l in enumerate(garbled[::-1]) if i%2 == 0])
str_fixed

'I am the secret message!'

### File I/O
Take any text file which you already had with you  
1. Write a Python program to read an entire text file.
2. Write a Python program to read first n lines of a file.
3. Write a Python program to append text to a file and display the text.
4. Write a Python program to read a file line by line and store it into a list.

#### Using Pandas to write a CSV

In [70]:
import os
import pandas
from pandas_datareader import data as web
from datetime import datetime as dt

# for multiple tickers, a 3D matrix is returned
df = web.DataReader(['SPY','GLD'],
                   'yahoo',
                   dt(2017,1,1),
                   dt.now())

In [71]:
# Let's transform the df
print( df.columns)

ndf = df.stack()
ndf.head()

MultiIndex(levels=[['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], ['GLD', 'SPY']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5], [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]],
           names=['Attributes', 'Symbols'])

Attributes                High         Low        Open       Close  \
Date       Symbols
2017-01-03 GLD      111.000000  109.370003  109.620003  110.470001
           SPY      225.830002  223.880005  225.039993  225.240005
2017-01-04 GLD      111.220001  110.610001  111.059998  110.860001
           SPY      226.750000  225.610001  225.619995  226.580002
2017-01-05 GLD      112.940002  112.070000  112.160004  112.580002

Attributes              Volume   Adj Close
Date       Symbols
2017-01-03 GLD       7527400.0  110.470001
           SPY      91366500.0  218.092178
2017-01-04 GLD       4904100.0  110.860001
           SPY      78744400.0  219.389679
2017-01-05 GLD       9606800.0  112.580002

### JHO's Notes
Found some interesting resources on handling [MultiIndex](https://jakevdp.github.io/PythonDataScienceHandbook/03.05-hierarchical-indexing.html), [reshaping it in different ways](https://pandas.pydata.org/pandas-docs/stable/reshaping.html), and [stacking it](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.stack.html)

In [79]:
# Continue transforming the data
# ref: https://stackoverflow.com/questions/20110170/turn-pandas-multi-index-into-column
ndf.reset_index(inplace = True)
ndf.head()

Attributes,Date,Symbols,High,Low,Open,Close,Volume,Adj Close
0,2017-01-03,GLD,111.000000,109.370003,109.620003,110.470001,7527400.0,110.470001
1,2017-01-03,SPY,225.830002,223.880005,225.039993,225.240005,91366500.0,218.092178
2,2017-01-04,GLD,111.220001,110.610001,111.059998,110.860001,4904100.0,110.860001
3,2017-01-04,SPY,226.750000,225.610001,225.619995,226.580002,78744400.0,219.389679
4,2017-01-05,GLD,112.940002,112.070000,112.160004,112.580002,9606800.0,112.580002

In [82]:
#read to CSV
if not os.path.exists('data'): 
    os.mkdir('data')

ndf.to_csv('data/stocks.csv', index = True)

#### Use a Generator to print lines in a file

In [83]:
filepath = 'data/stocks.csv'
lines_to_print = 5
with open(filepath) as f:
    flines = f.readlines()

def list_print(in_list):
#     lcount = 0
#     while lcount < len(in_list):
#         yield in_list(lcount)
#         lcount += 1
    for i in in_list:
        yield i

line_gen = list_print(flines)

for i in range(lines_to_print):
    print(next(line_gen))

,Date,Symbols,High,Low,Open,Close,Volume,Adj Close

0,2017-01-03,GLD,111.0,109.37000274658203,109.62000274658203,110.47000122070312,7527400.0,110.47000122070312

1,2017-01-03,SPY,225.8300018310547,223.8800048828125,225.0399932861328,225.24000549316406,91366500.0,218.09217834472656

2,2017-01-04,GLD,111.22000122070312,110.61000061035156,111.05999755859375,110.86000061035156,4904100.0,110.86000061035156

3,2017-01-04,SPY,226.75,225.61000061035156,225.6199951171875,226.5800018310547,78744400.0,219.38967895507812

## Classes Exercies

### Exercise 2
Define a class called Songs, it will show the lyrics of a song. Its __init__() method should have two arguments:self and lyrics. lyrics is a list. Inside your class create a method called sing_me_a_song that prints each element of lyrics on his own line.

In [16]:
class Song:
    def __init__(self, lyrics):
        self.lyrics = lyrics
        
    def sing_me_a_song(self):
        for i in self.lyrics:
            print(i)
            
happy_bday = Song(["May god bless you,",
                "Have a sunshine on you,",
                "Happy Birthday to you !"])
happy_bday.sing_me_a_song()

May god bless you,
Have a sunshine on you,
Happy Birthday to you !

## Exercise: Car

In [21]:
class Car:
    # member varible
    condition = 'new'
    
    def __init__(self, model, color, mpg):
        self.model = model
        self.color = color
        self.mpg = mpg
    
    def display_car(self):
        return f"This is a {self.color} {self.model} with {self.mpg} MPG"
    
    def drive_car(self):
        self.condition = 'used'
        
my_car = Car(model="DeLorean", color="silver", mpg=88)
print(my_car.condition)
my_car.display_car()
my_car.drive_car()
print(my_car.condition)

new
used

In [25]:
class ElectricCar(Car):
    def __init__(self, model, color, mpg, battery_type):
        super().__init__(model, color, mpg)
        self.battery_type = battery_type
    
    def drive_car(self):
        self.condition = 'like new'

my_car = ElectricCar(model = "Toyota", color = "Red", mpg = 90, battery_type = "molten salt")
print(my_car.condition)
my_car.drive_car()
print(my_car.condition)

new
like new