### Reference
[Geolocation clustering a Paris Vacation](https://towardsdatascience.com/using-unsupervised-learning-to-plan-a-paris-vacation-geo-location-clustering-d0337b4210de): used K-Means and recommended HDBSCAN  
[KMeans Clustering of Geolocation](https://www.kaggle.com/xxing9703/kmean-clustering-of-latitude-and-longitude#)

In [280]:
import requests, json # for getting data
from urllib.parse import urlencode
from time import sleep
from datetime import datetime

import pandas as pd
import numpy as np

In [42]:
fname = 'data/centadata_clean.csv'
data = pd.read_csv( fname, index_col = 0 )

In [43]:
addresses = data['buildingaddress'].unique()

In [56]:
print( f'There are {"{:,}".format(len(addresses))} building addresses to lookup.')
geo_dict = { key : '' for key in addresses}

There are 9,496 building addresses to lookup.

In [90]:
def geocode( in_address, giveLatLon = True):
    url = "https://www.als.ogcio.gov.hk/lookup"
    headers = { 'Accept': 'application/json'}
    params = {
        "q": in_address,
        'n': 1
    }
    data = requests.post(url, headers = headers, data = params)
    
    if data.status_code == 200:
        djson = json.loads( data.text )
        
        try:
            geodata = djson['SuggestedAddress'][0]['Address']['PremisesAddress']['GeospatialInformation'][0]
        except KeyError:
            # no likely no SuggestedAddress
            return None
        
        if giveLatLon:
            return ( float(geodata['Latitude']), float(geodata['Longitude']))
        else:
            geodata
    else:
        return None

In [47]:
# ----------------------------
# ref: https://gist.github.com/vladignatyev/06860ec2040cb497f0f3
# ----------------------------
import sys

def progress(count, total, status=''):
    bar_len = 60
    filled_len = int(round(bar_len * count / float(total)))

    percents = round(100.0 * count / float(total), 1)
    bar = '=' * filled_len + '-' * (bar_len - filled_len)

    sys.stdout.write('[%s] %s%s ...%s\r' % (bar, percents, '%', status))
    sys.stdout.flush()

In [162]:
def BuildGeoDict( geo_dict , tmp_fname = None ):
    counter = 0

    for addr in geo_dict:
        if geo_dict[ addr ] == '':
            try:
                counter += 1
                igcode = geocode( addr)
                if igcode:
                    geo_dict[addr] = igcode

                if counter % 50 == 0:
                    # take a break every 50 address
                    progress( counter, len(geo_dict), status = 'Geocoding Building Addresses')
                    rest_s = np.random.randint(1,5)
                    sleep( rest_s)
                    
                    # make a backup
                    if tmp_fname != None:
                        with open( tmp_fname, 'w') as outfile:
                            json.dump(geo_dict, outfile)

            except ValueError:    # this will catch all exceptions
                print(f'Unexpected error coding {addr}: {sys.exc_info()[0]}\nContinuing with next address...')
        else:
            pass
    
    progress( 100, 100, status = 'Geocoding Completed.')
    print( f'Fetched {counter} buildings geocodes and written temporary json data to {tmp_fname}')
    return geo_dict

*Legacy*: read data from CSV

In [163]:
fname_csv = 'data/building_geocode.csv'
tmp_fname = 'data/tmp_building_geocode.json'
df_tmp = pd.read_csv( fname_csv, index_col = 0)

df_tmp['latlon'] = df_tmp.apply( lambda x: '' if np.isnan(x.Lat) else (x.Lat, x.Lon),axis =1)
addr_geo_dict = { key : latlon for key, latlon in zip( df_tmp.index, df_tmp.latlon ) }

fname_json = 'data/building_geocode.json'
with open( fname_json, 'w') as fh:
    json.dump( addr_geo_dict, fh)

Load what we already have in `data/building_geocode.json` and finish getting geocode,  
write the output in the end back to the json file

In [164]:
fname_json = 'data/building_geocode.json'
tmp_fname = 'data/tmp_building_geocode.json'

with open(fname_json, 'r') as fh:
    jdata = fh.read()
addr_geo_dict = json.loads(jdata)

out_dict = BuildGeoDict( addr_geo_dict, tmp_fname = tmp_fname)
with open( fname_json, 'w') as fh:
    json.dump( out_dict, fh)

Load the JSON back into a Dataframe for use

In [187]:
clean_dict = {key : tuple( out_dict[key]) for key in out_dict}
df_geo = pd.DataFrame.from_dict(clean_dict, orient = 'index', columns = ['Lat', 'Lon'])

missing_addr = df_geo[ df_geo.Lat.isna()]
print(f'There are {len(missing_addr)} buildings missing geocode.')

missing_addr.head()

There are 19 buildings missing geocode.

                                        Lat  Lon
21 FAIRVIEW PARK SECTION C, 6TH STREET  NaN  NaN
11 FAIRVIEW PARK SECTION C, 6TH STREET  NaN  NaN
16 FAIRVIEW PARK SECTION B, 6TH STREET  NaN  NaN
3 FAIRVIEW PARK SECTION C, 1ST STREET   NaN  NaN
7 FAIRVIEW PARK SECTION C, 1ST STREET   NaN  NaN

Let's manually geocode these few missing geocode

In [220]:
import re
def manualGeo( addr ):
    m = re.search(r'(.+)SECTION', addr)
    if m is None:
        return None
    else:
        new_addr = m.group(1)
        return geocode(new_addr)

df_bgeo = df_geo.reset_index().rename(columns = {'index': 'building_address'})
df_bgeo['latlon'] = df_bgeo.apply(
     lambda x: manualGeo( x.building_address ) if np.isnan(x.Lat) else (x.Lat, x.Lon), axis=1)

#df_bgeo.at[df_bgeo.Lat.isna(),['Lat']] = df_bgeo[df_geo.Lat.isna()]['building_address'].apply( manualGeo)

In [222]:
df_bgeo.iloc[7515:,:].head(10)

,building_address,Lat,Lon,latlon
7515,"21 FAIRVIEW PARK SECTION C, 6TH STREET",NaN,NaN,"(22.479, 114.0508)"
7516,"11 FAIRVIEW PARK SECTION C, 6TH STREET",NaN,NaN,"(22.4807, 114.0508)"
7517,"16 FAIRVIEW PARK SECTION B, 6TH STREET",NaN,NaN,"(22.4796, 114.0504)"
7518,"3 FAIRVIEW PARK SECTION C, 1ST STREET",NaN,NaN,"(22.4849, 114.0445)"
7519,"36 FAIRVIEW PARK SECTION B, 4TH STREET",22.2250,114.1120,"(22.225, 114.112)"
7520,"23 FAIRVIEW PARK SECTION C, 3RD STREET",22.2040,114.0323,"(22.204, 114.0323)"
7521,"7 FAIRVIEW PARK SECTION C, 1ST STREET",NaN,NaN,"(22.4746, 114.043)"
7522,"31 FAIRVIEW PARK SECTION C, 4TH STREET",22.4652,114.1425,"(22.4652, 114.1425)"
7523,"2 FAIRVIEW PARK SECTION B, 1ST STREET",NaN,NaN,"(22.485, 114.0444)"
7524,"14 FAIRVIEW PARK SECTION C, 6TH STREET",NaN,NaN,"(22.4795, 114.0503)"

In [ ]:
for addr in clean_dict:
    if clean_dict[addr] == ():
        clean_dict[addr] = manualGeo(addr)
        
data['latlon'] = data.buildingaddress.apply( lambda x: clean_dict[x])

In [230]:
data.head()

,txdate,price,saleablearea,xaxis,yaxis,buildingaddress,dateofcompletion,numberofunits,numberoffloors,flatsperfloor,schoolnet,region,price_per_sqf,flat_type,floor_number,building_age,deal_age,deal_year,schoolnet_en,latlon
0,2017-02-16,2880000,392.0,NO. 205A,2/F,205A TUNG CHOI STREET,1963-08-01,8,8,1,九龍區32號校網,Mongkok/Yaumatei,7346.938776,n,2,55.301848,641,2017,Kowloon district No. 32 school network,"(22.3231, 114.1696)"
1,2018-01-11,3000000,392.0,NO. 205A,3/F,205A TUNG CHOI STREET,1963-08-01,8,8,1,九龍區32號校網,Mongkok/Yaumatei,7653.061224,n,3,55.301848,312,2018,Kowloon district No. 32 school network,"(22.3231, 114.1696)"
2,2017-06-26,51000000,1912.0,NO. 4B,5/F,4A-4B WONG NAI CHUNG GAP ROAD,1965-09-01,8,8,1,香港區12號校網,Happy Valley/Mid Level East,26673.640167,n,5,53.215606,511,2017,Hong Kong District No. 12 school network,"(22.2629, 114.1854)"
3,2018-03-21,4150000,294.0,FLAT B,16/F,98 TSEUK LUK STREET,1999-01-01,30,15,2,九龍區43號校網,Diamond Hill/Wong Tai Sin,14115.646259,n,16,19.882272,243,2018,Kowloon district No. 43 school network,"(22.335, 114.1975)"
4,2017-11-28,5250000,530.0,FLAT B,8/F,54-58 SOUTH WALL ROAD,1969-10-01,32,9,4,九龍區41號校網,Diamond Hill/Wong Tai Sin,9905.660377,n,8,49.133470,356,2017,Kowloon district No. 41 school network,"(22.3298, 114.1911)"

### Let's build a model

for our model we will just be concerned with the **small/ medium units**, and excluding all ab-normal `flat_type`

In [274]:
cci_data = pd.read_csv('data/cci_small_medium_2017_2018.csv', header = None, names = ['Date', 'CCI'])
cci_data['idx_date'] = cci_data['Date'].apply( lambda x: x.split(" - ")[0])

cci_data.idx_date = cci_data.idx_date.astype('datetime64')
data.txdate = data.txdate.astype('datetime64')

cci_data.head()

                      Date     CCI   idx_date
0  2018/11/05 - 2018/11/11  180.78 2018-11-05
1  2018/10/29 - 2018/11/04  183.32 2018-10-29
2  2018/10/22 - 2018/10/28  184.49 2018-10-22
3  2018/10/15 - 2018/10/21  185.66 2018-10-15
4  2018/10/08 - 2018/10/14  186.00 2018-10-08

In [271]:
def GetCCI(inDate):
    dfilter = (cci_data.idx_date <= inDate) 
    return cci_data[dfilter]['CCI'].iloc[0]

#GetCCI( data.txdate[1])

167.47

In [281]:
data['adj_price_per_sqf'] = data.apply( lambda x: x.price_per_sqf * GetCCI(datetime.today())/ GetCCI(x.txdate) , axis = 1)
data.head()

,txdate,price,saleablearea,xaxis,yaxis,buildingaddress,dateofcompletion,numberofunits,numberoffloors,flatsperfloor,...,region,price_per_sqf,flat_type,floor_number,building_age,deal_age,deal_year,schoolnet_en,latlon,adj_price_per_sqf
0,2017-02-16,2880000,392.0,NO. 205A,2/F,205A TUNG CHOI STREET,1963-08-01,8,8,1,...,Mongkok/Yaumatei,7346.938776,n,2,55.301848,641,2017,Kowloon district No. 32 school network,"(22.3231, 114.1696)",8991.196804
1,2018-01-11,3000000,392.0,NO. 205A,3/F,205A TUNG CHOI STREET,1963-08-01,8,8,1,...,Mongkok/Yaumatei,7653.061224,n,3,55.301848,312,2018,Kowloon district No. 32 school network,"(22.3231, 114.1696)",8261.302969
2,2017-06-26,51000000,1912.0,NO. 4B,5/F,4A-4B WONG NAI CHUNG GAP ROAD,1965-09-01,8,8,1,...,Happy Valley/Mid Level East,26673.640167,n,5,53.215606,511,2017,Hong Kong District No. 12 school network,"(22.2629, 114.1854)",30122.817775
3,2018-03-21,4150000,294.0,FLAT B,16/F,98 TSEUK LUK STREET,1999-01-01,30,15,2,...,Diamond Hill/Wong Tai Sin,14115.646259,n,16,19.882272,243,2018,Kowloon district No. 43 school network,"(22.335, 114.1975)",14725.757578
4,2017-11-28,5250000,530.0,FLAT B,8/F,54-58 SOUTH WALL ROAD,1969-10-01,32,9,4,...,Diamond Hill/Wong Tai Sin,9905.660377,n,8,49.133470,356,2017,Kowloon district No. 41 school network,"(22.3298, 114.1911)",10919.178555

In [290]:
l_mod_col = ['lat','lon', 'adj_price_per_sqf']

#data['lat'] = data.latlon.apply( lambda x: x[0] if type(x) == tuple else np.nan)
#data['lon'] = data.latlon.apply( lambda x: x[1])

size_filter = data.saleablearea <= 1076
df_model = data[size_filter][l_mod_col]

IndexError: tuple index out of range

In [295]:
data['haslatlon'] = data.latlon.apply( lambda x: True if type(x) == tuple else False)
data.iloc[51538:]

,txdate,price,saleablearea,xaxis,yaxis,buildingaddress,dateofcompletion,numberofunits,numberoffloors,flatsperfloor,...,price_per_sqf,flat_type,floor_number,building_age,deal_age,deal_year,schoolnet_en,latlon,adj_price_per_sqf,haslatlon
56930,2018-02-14,10000000,848.0,HOUSE 21,SECTION C 6TH ST,"21 FAIRVIEW PARK SECTION C, 6TH STREET",1988-01-01,1,1,1,...,11792.452830,d,0,30.882957,278,2018,The new territories District No. 74 school net...,(),12424.031835,True
56931,2017-06-06,11490000,950.0,HOUSE 11,SECTION C 6TH ST,"11 FAIRVIEW PARK SECTION C, 6TH STREET",1988-01-01,1,1,1,...,12094.736842,d,0,30.882957,531,2017,The new territories District No. 74 school net...,(),13649.332207,True
56932,2017-05-05,7500000,840.0,HOUSE 16,SECTION B 6TH ST,"16 FAIRVIEW PARK SECTION B, 6TH STREET",1977-01-01,1,1,1,...,8928.571429,d,0,41.880903,563,2017,The new territories District No. 74 school net...,(),10267.857143,True
56933,2017-09-15,11500000,1035.0,HOUSE 3,SECTION C 1ST ST,"3 FAIRVIEW PARK SECTION C, 1ST STREET",1990-01-01,1,1,1,...,11111.111111,d,0,28.881588,430,2017,The new territories District No. 74 school net...,(),12558.091070,True
56934,2017-12-08,9800000,840.0,HOUSE 36,SECTION B 4TH ST,"36 FAIRVIEW PARK SECTION B, 4TH STREET",1987-02-01,1,1,1,...,11666.666667,d,0,31.797399,346,2017,The new territories District No. 74 school net...,"(22.225, 114.112)",12790.175864,True
56935,2017-07-25,13000000,1035.0,HOUSE 23,SECTION C 3RD ST,"23 FAIRVIEW PARK SECTION C, 3RD STREET",1993-01-01,1,1,1,...,12560.386473,d,0,25.880903,482,2017,The new territories District No. 74 school net...,"(22.204, 114.0323)",14154.511075,True
56937,2017-04-07,11330000,1035.0,HOUSE 7,SECTION C 1ST ST,"7 FAIRVIEW PARK SECTION C, 1ST STREET",1990-01-01,1,1,1,...,10946.859903,d,0,28.881588,591,2017,The new territories District No. 74 school net...,(),12953.091591,True
56938,2017-04-26,8550000,902.0,HOUSE 31,SECTION C 4TH ST,"31 FAIRVIEW PARK SECTION C, 4TH STREET",1980-01-01,1,1,1,...,9478.935698,d,0,38.882957,572,2017,The new territories District No. 74 school net...,"(22.4652, 114.1425)",10986.741012,True
56939,2017-10-23,10000000,846.0,HOUSE 2,SECTION B 1ST ST,"2 FAIRVIEW PARK SECTION B, 1ST STREET",1977-01-01,1,1,1,...,11820.330969,d,0,41.880903,392,2017,The new territories District No. 74 school net...,(),13440.338591,True
56940,2017-03-22,13180000,1395.0,HOUSE 14,SECTION C 6TH ST,"14 FAIRVIEW PARK SECTION C, 6TH STREET",1988-01-01,1,1,1,...,9448.028674,d,0,30.882957,607,2017,The new territories District No. 74 school net...,(),11285.197381,True
56941,2017-09-08,9350000,840.0,HOUSE 16,SECTION B 4TH ST,"16 FAIRVIEW PARK SECTION B, 4TH STREET",1977-01-01,1,1,1,...,11130.952381,d,0,41.880903,437,2017,The new territories District No. 74 school net...,(),12514.793031,True
56942,2017-04-26,9200000,915.0,HOUSE 33,SECTION C 3RD ST,"33 FAIRVIEW PARK SECTION C, 3RD STREET",1993-01-01,1,1,1,...,10054.644809,d,0,25.880903,572,2017,The new territories District No. 74 school net...,"(22.4654, 114.1425)",11654.027624,True
56943,2017-12-13,9000000,840.0,HOUSE 27,SECTION B 6TH ST,"27 FAIRVIEW PARK SECTION B, 6TH STREET",1977-01-01,1,1,1,...,10714.285714,d,0,41.880903,341,2017,The new territories District No. 74 school net...,(),11682.319490,True
56944,2017-03-22,11380000,1100.0,HOUSE 23,SECTION C 1ST ST,"23 FAIRVIEW PARK SECTION C, 1ST STREET",1990-01-01,1,1,1,...,10345.454545,d,0,28.881588,607,2017,The new territories District No. 74 school net...,(),12357.127669,True
56945,2017-07-05,10380000,915.0,HOUSE 23,SECTION B 6TH ST,"23 FAIRVIEW PARK SECTION B, 6TH STREET",1977-01-01,1,1,1,...,11344.262295,d,0,41.880903,502,2017,The new territories District No. 74 school net...,(),12839.264620,True
56946,2017-03-22,6380000,840.0,HOUSE 18,SECTION B 3RD ST,"18 FAIRVIEW PARK SECTION B, 3RD STREET",1977-01-01,1,1,1,...,7595.238095,d,0,41.880903,607,2017,The new territories District No. 74 school net...,"(22.2544, 113.8621)",9072.131766,True
56947,2017-06-06,11490000,950.0,HOUSE 9,SECTION C 6TH ST,"9 FAIRVIEW PARK SECTION C, 6TH STREET",1988-01-01,1,1,1,...,12094.736842,d,0,30.882957,531,2017,The new territories District No. 74 school net...,(),13649.332207,True
56948,2018-03-20,9050000,846.0,HOUSE 26,SECTION B 3RD ST,"26 FAIRVIEW PARK SECTION B, 3RD STREET",1977-01-01,1,1,1,...,10697.399527,d,0,41.880903,244,2018,The new territories District No. 74 school net...,"(22.225, 114.1121)",11159.766210,True
56949,2017-05-22,15500000,1035.0,HOUSE 9,HOUSE 9,9 GOLDEN BAMBOO ROAD NORTH,1979-01-01,1,1,1,...,14975.845411,d,0,39.882272,546,2017,The new territories District No. 74 school net...,"(22.4792, 114.0465)",16989.854618,True
56951,2018-04-20,15800000,1245.0,HOUSE 100,HOUSE 100,100 LYCHEE ROAD NORTH,1977-01-01,1,1,1,...,12690.763052,d,0,41.880903,213,2018,The new territories District No. 74 school net...,"(22.4812, 114.0501)",12834.169527,True
56953,2018-04-27,10400000,848.0,HOUSE 4,HOUSE 4,4 LYCHEE ROAD SOUTH,1982-01-01,1,1,1,...,12264.150943,d,0,36.881588,206,2018,The new territories District No. 74 school net...,"(22.4834, 114.0458)",12244.508795,True
56954,2018-01-12,9880000,848.0,HOUSE 96,HOUSE 96,96 LYCHEE ROAD NORTH,1977-01-01,1,1,1,...,11650.943396,d,0,41.880903,311,2018,The new territories District No. 74 school net...,"(22.4813, 114.05)",12576.924507,True
56956,2018-02-05,13800000,1035.0,HOUSE 22,HOUSE 22,22 LOTUS ROAD,1979-01-01,1,1,1,...,13333.333333,d,0,39.882272,287,2018,The new territories District No. 74 school net...,"(22.4777, 114.0473)",14257.660002,True
56957,2017-04-21,8580000,891.0,HOUSE 17,SECTION C 8TH ST,"17 FAIRVIEW PARK SECTION C, 8TH STREET",1980-01-01,1,1,1,...,9629.629630,d,0,38.882957,577,2017,The new territories District No. 74 school net...,(),11231.979124,True
56958,2018-05-07,10300000,848.0,HOUSE 7,SECTION D 1ST ST,"7 FAIRVIEW PARK SECTION D, 1ST STREET",1981-01-01,1,1,1,...,12146.226415,d,0,37.880903,196,2018,The new territories District No. 74 school net...,(),12050.240431,True
56959,2018-02-01,12100000,1035.0,HOUSE 8,SECTION D 1ST ST,"8 FAIRVIEW PARK SECTION D, 1ST STREET",1981-01-01,1,1,1,...,11690.821256,d,0,37.880903,291,2018,The new territories District No. 74 school net...,(),12577.912674,True
56960,2017-09-27,13280000,1035.0,HOUSE 211,HOUSE 211,211 BAUHINIA ROAD WEST,1984-01-01,1,1,1,...,12830.917874,d,0,34.882957,418,2017,The new territories District No. 74 school net...,"(22.4754, 114.0423)",14453.971419,True
56961,2017-06-22,13400000,1035.0,HOUSE 163,HOUSE 163,163 BAUHINIA ROAD WEST,1984-01-01,1,1,1,...,12946.859903,d,0,34.882957,515,2017,The new territories District No. 74 school net...,"(22.4771, 114.0418)",14580.036961,True
56962,2017-06-22,13400000,1035.0,HOUSE 161,HOUSE 161,161 BAUHINIA ROAD WEST,1984-01-01,1,1,1,...,12946.859903,d,0,34.882957,515,2017,The new territories District No. 74 school net...,"(22.4771, 114.0418)",14580.036961,True
56963,2018-04-18,8000000,902.0,HOUSE 38,HOUSE 38,38 BAUHINIA ROAD SOUTH,1987-01-01,1,1,1,...,8869.179601,d,0,31.882272,215,2018,The new territories District No. 74 school net...,"(22.4728, 114.0472)",8969.401926,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101841,2018-11-14,5530000,375.0,FLAT 4,10/F,77 NGAU TAU KOK ROAD,1981-06-01,264,33,8,...,14746.666667,n,10,37.467488,5,2018,Kowloon district No. 46 school website,"(22.3253, 114.2157)",14746.666667,True
101842,2018-11-14,33600000,1324.0,FLAT 10,43/F,1 HARBOUR ROAD,1989-11-01,622,35,20,...,25377.643505,n,43,29.048597,5,2018,Hong Kong District No. 12 school network,"(22.2814, 114.1737)",25377.643505,True
101843,2018-11-14,7150000,455.0,FLAT A,27/F,128 WAN FUNG STREET,1999-01-01,88,22,4,...,15714.285714,n,27,19.882272,5,2018,Kowloon district No. 45 school network,"(22.346, 114.198)",15714.285714,True
101844,2018-11-14,13000000,1065.0,FLAT C,12/F,842-850 KING'S ROAD,1960-08-01,45,11,4,...,12206.572770,n,12,58.299795,5,2018,Hong Kong District No. 14-school network,"(22.29, 114.2091)",12206.572770,True
101845,2018-11-14,4950000,518.0,FLAT C (NO. 115),8/F,111-121 SAI YEE STREET,1962-03-01,96,12,8,...,9555.984556,n,8,56.720055,5,2018,Kowloon district No. 32 school network,"(22.3202, 114.1713)",9555.984556,True
101846,2018-11-14,3520000,259.0,FLAT B (FLAT 2),7/F,232 TONG MI ROAD,1980-11-01,26,13,2,...,13590.733591,n,7,38.047912,5,2018,Kowloon district No. 32 school network,"(22.3247, 114.1651)",13590.733591,True
101847,2018-11-14,3600000,389.0,FLAT R,9/F,38 KAM LAM STREET,1966-02-01,235,13,19,...,9254.498715,n,9,52.796715,5,2018,Kowloon district No. 32 school network,"(22.3169, 114.1672)",9254.498715,True
101849,2018-11-14,4930000,393.0,NO. 172,2/F,170-172 HOLLYWOOD ROAD,1965-12-01,12,6,2,...,12544.529262,n,2,52.966461,5,2018,Hong Kong District No. 11 school network,"(22.2847, 114.1492)",12544.529262,True
101850,2018-11-14,9300000,674.0,FLAT C,41/F,9 TONG TAK STREET,2003-01-01,384,48,8,...,13798.219585,n,41,15.882272,5,2018,The new territories District No. 95 school net...,"(22.3074, 114.2569)",13798.219585,True
101851,2018-11-14,7000000,581.0,FLAT H,16/F,99 TAI TONG ROAD,2001-09-01,103,13,8,...,12048.192771,n,16,17.215606,5,2018,The new territories District No. 74 school net...,"(22.436, 114.0318)",12048.192771,True
101852,2018-11-14,6400000,580.0,FLAT A,5/F,138 SHAP PAT HEUNG ROAD,2010-02-01,144,24,6,...,11034.482759,n,5,8.796715,5,2018,The new territories District No. 73 school net...,"(22.439, 114.0198)",11034.482759,True
101853,2018-11-14,2480000,235.0,FLAT B4,5/F,8 MAN HOP PATH,1976-08-01,60,5,12,...,10553.191489,n,5,42.299795,5,2018,The new territories District No. 73 school net...,"(22.4449, 114.0234)",10553.191489,True
101857,2018-11-14,4000000,358.0,FLAT A (FLAT 1),9/F,3 FUNG YAU STREET SOUTH,1985-05-01,168,21,8,...,11173.184358,n,9,33.552361,5,2018,The new territories District No. 74 school net...,"(22.4419, 114.0336)",11173.184358,True
101914,2018-11-14,5300000,489.0,FLAT D,3/F,38 TOWN PARK ROAD NORTH,1999-07-01,76,11,8,...,10838.445808,n,3,19.386721,5,2018,The new territories District No. 73 school net...,"(22.4415, 114.0171)",10838.445808,True
101915,2018-11-14,6280000,466.0,FLAT B,17/F,8 LONG YAT ROAD,1993-10-01,216,27,8,...,13476.394850,n,17,25.133470,5,2018,The new territories District No. 74 school net...,"(22.4453, 114.035)",13476.394850,True
101917,2018-11-14,6500000,485.0,FLAT 4,26/F,15 NAM NING STREET,1981-12-01,162,26,6,...,13402.061856,n,26,36.966461,5,2018,Hong Kong District No. 18 school network,"(22.2493, 114.1537)",13402.061856,True
101918,2018-11-14,4000000,297.0,FLAT A,10/F,46A BELCHER'S STREET,1978-04-01,81,22,4,...,13468.013468,n,10,40.635181,5,2018,Hong Kong District No. 11 school network,"(22.2825, 114.1294)",13468.013468,True
101921,2018-11-14,5500000,355.0,FLAT C,16/F,18 TAI PO TAU ROAD,1992-03-01,166,22,8,...,15492.957746,n,16,26.718686,5,2018,The new territories District Number 84 school ...,"(22.454, 114.1622)",15492.957746,True
101922,2018-11-14,5850000,318.0,FLAT A,10/F,6 PEACE AVENUE,1998-11-01,92,23,4,...,18396.226415,n,10,20.049281,5,2018,Kowloon district No. 34 school network,"(22.3189, 114.1737)",18396.226415,True
101923,2018-11-14,8400000,561.0,FLAT 4,10/F,100 SHING TAI ROAD,1988-03-01,144,18,8,...,14973.262032,n,10,30.718686,5,2018,Hong Kong Region No. 16 school network,"(22.278000000000002, 114.2405)",14973.262032,True
101924,2018-11-14,5230000,343.0,FLAT A,15/F,7-19 TSING LUK STREET,1986-11-01,240,30,8,...,15247.813411,n,15,32.049281,5,2018,The new territories District Number 66 school ...,"(22.3539, 114.1049)",15247.813411,True
101927,2018-11-14,4576000,553.0,NO. 12,1/F,12 WING KWONG STREET,1961-10-01,7,7,1,...,8274.864376,n,1,57.133470,5,2018,Kowloon district No. 35 school network,"(22.3133, 114.18799999999999)",8274.864376,True
101928,2018-11-14,6550000,412.0,FLAT C,17/F,17 SUNG ON STREET,1991-01-01,104,13,8,...,15898.058252,n,17,27.882272,5,2018,Kowloon district No. 35 school network,"(22.3119, 114.1891)",15898.058252,True
101929,2018-11-14,13800000,594.0,FLAT H,40/F,18 HOI TING ROAD,2001-12-01,328,42,8,...,23232.323232,n,40,16.966461,5,2018,Kowloon district No. 31 school website,"(22.3154, 114.1635)",23232.323232,True
101931,2018-11-14,21000000,904.0,FLAT C,12/F,11 HOI FAI ROAD,2000-02-01,216,37,6,...,23230.088496,n,12,18.798084,5,2018,Kowloon district No. 32 school network,"(22.318, 114.1583)",23230.088496,True
101932,2018-11-14,6680000,563.0,FLAT C,21/F,1 KIN TUNG ROAD,2005-07-01,419,52,8,...,11865.008881,n,21,13.385352,5,2018,The new territories District No. 98 school net...,"(22.2919, 113.9488)",11865.008881,True
101933,2018-11-14,10480000,639.0,FLAT E,11/F,6 TAK HONG STREET,1989-12-01,120,15,8,...,16400.625978,n,11,28.966461,5,2018,Kowloon district No. 35 school network,"(22.3055, 114.1903)",16400.625978,True
101934,2018-11-14,4400000,435.0,FLAT F,9/F,30-38 TAI HO ROAD,1973-04-01,112,19,6,...,10114.942529,n,9,45.634497,5,2018,New Territories No. 62 school network,"(22.3712, 114.1129)",10114.942529,True
101935,2018-11-14,4800000,435.0,FLAT F,15/F,30-38 TAI HO ROAD,1973-04-01,112,19,6,...,11034.482759,n,15,45.634497,5,2018,New Territories No. 62 school network,"(22.3712, 114.1129)",11034.482759,True
101937,2018-11-14,5290000,393.0,FLAT D,6/F,23 YAT MING ROAD,1999-06-01,224,29,8,...,13460.559796,n,6,19.468857,5,2018,The new territories District No. 81 school net...,"(22.4874, 114.1447)",13460.559796,True

In [294]:
count = -1
for i in data.latlon:
    count += 1
    try:
        lat = i[0]
        lon = i[1]
    except IndexError:
        print(count)

51538
51539
51540
51541
51544
51546
51547
51548
51550
51551
51552
51554
51561
51562
51563
74945
76241
76492
84427

In [296]:
clean_dict['21 FAIRVIEW PARK SECTION C, 6TH STREET']

()

In [297]:
clean_dict['31 FAIRVIEW PARK SECTION C, 4TH STREET']

(22.4652, 114.1425)