# Intro

A forewarning, what we learn in this notebook may seem mundance however data types and data contains are the building blocks of our programs, developing a good understand of them will help to create solid foundations for you. Think of his notebook like you times tables, boring by very important. The learning objectives are:

* Understand what the basic data types are
  * Booleans - either true or false
  * Strings - a sequence of characters
  * Numbers - numbers can be broken down into two types
    * Integer
    * Floats
* Understand basic data containers
  * List - used to contain a collection of values, which **can** be modified
  * Tuples - used to contain a collection of values, which **can't** be modified
  * Dictionaries - a key value store
* Mutablity vs Immutablity 
* Why can't we add strings and numbers together?

## Booleans

Booleans are very simple, they can either be true of false. In python booleans start with a capital, you'll know you've typed it right due to the green syntax highighting. We'll cover booleans use cases later when we cover logic and conditionals.

In [1]:
True

True

In [2]:
False

False

## Strings

Strings are a sequence of characters. A string can contain letters, numbers or symbols surrounded by two quotes.

In [3]:
'hello'

'hello'

In [4]:
'100'

'100'

In [5]:
'#$.%'

'#$.%'

In python we can use either `''` and `""` to create strings

In [4]:
'hey'

'hey'

In [5]:
"hey"

'hey'

If we have a word with an apostrophe in we can use `""` to surround it

In [6]:
"it's raining out side"

"it's raining out side"

For strings multiline strings we use three quotes

In [7]:
"""this is a 
multiline 
string"""

'this is a \nmultiline \nstring'

The `\n` is a special character that stands for newline

## Numbers

Python has two different data type for numbers:

* Integers
* Floats

Interger can only represent whole numbers, whereas floats can be used to represent decimal point numbers

In [8]:
1 #integer

1

In [9]:
1.0 #float

1.0

Look at the output above, the integer doesn't have a decimal point (`.`) whereas the float does.

In [10]:
2.5 # float

2.5

Notice the lack of quotation marks (`''`) surrounding the output bellow, this indicates that the number is of a number type.

In [11]:
10

10

If we check if a string and a number are equal to each other, python will tell us no, since they are of different data types. `==` means is equal to.

In [12]:
'5' == 5

False

The output returns a boolean `False`, we will cover booleans later on. We can do simple math with number types.

* Addtion: `+`
* Subtraction: `-`
* Multiply: `*`
* Power: `**`
* Divsion: `/`
* Floor division  (rounds down): `//`
* Modulus (or remainder): `%`

In [13]:
3 + 2

5

In [14]:
5 - 6

-1

In [15]:
4 * 3

12

In [16]:
4.0 ** 2

16.0

In [17]:
5 / 2 #division returns a float

2.5

In [18]:
5 // 2 #rounds down returning a int

2

In [19]:
100%9 #remainder is 1

1

One thing to note though computers aren't like humans they have percision error when they do maths, however this normally isn't a problem as the error is so small.

In [55]:
0.1 + 0.2 #notice the 4 at the end

0.30000000000000004

## Strings and numbers

What happens if we try to add two strings together?

In [21]:
'a string ' + 'another string'

'a string another string'

You can see that python has **concatenated** the two strings together. How about if we try to add a string to a number?

In [22]:
'5' + 10 #will error

TypeError: must be str, not int

This will result in an error because we can't combine two different data types together. We can always check what type something is using the `type` function.

In [23]:
type('5')

str

In [24]:
type(5)

int

## Section Summary

In summary, booleans are simple, either True of False. We can use string to store a collection of characters. Single line strings can be created using either double of single quotation marks. Multiline strings can be created using triple quotation marks. We can use number types to perform basic arithmetic. We can't add a number and a string together because they are not of the same data type.

# Data Containers And Variables

A container is and object that can be used to contain other objects. We use data containers to store values for us, in python there are 4 basic data containers:

* Variables
* List
* Tuples
* Dictionaries

The data containers list and dictionaries and tuples, are also data types themselves.

## Variables

Variables are a way to store a bit of information or a value.  In python the standard way to name variables is all lower case, with underscores seperating the words, for example `my_variable_name`.

### Normal Assignment

In [22]:
s = 'a string'

In the case above the variable is `s` and it is used to store the value of the string `a string`. Bellow we can retrieve the value stored in the variable

In [23]:
s

'a string'

We can change the value of a variable after we have created it. In a more formal tone you may say I have assigned a new value to the variable `s`.

In [24]:
s = 'a new string'

In [25]:
s

'a new string'

 ### Multiple assignment

In [26]:
x, y, z = 1, 3.1415, 'a'

In [27]:
x

1

In [28]:
y

3.1415

In [29]:
z

'a'

### Chained assigment

In [1]:
a = b = c = 1

In [2]:
a

1

In [3]:
b

1

In [4]:
c

1

### Augmented assignment

In [8]:
age = 10
age +=5
age

15

In [9]:
age -= 10
age

5

## Lists

A list can be used to store a group of values, for example I could use a list to hold the items in a shopping list.  We use sqaure brackets ( `[]` ) to create  a list and seperate the items in the list with commas. Lists are **mutable**, which means once create we can change item, add item or remove items.

In [30]:
shopping_list = ["eggs","bacon","sausages","bread","baked beans"]

List can contain a mix of datatypes.

In [37]:
mixed_list = ["one",2,"three",4]

We can even use list to contain variables

In [38]:
#variables:
eggs = 6
bacon = 1
sausages = 4
#list:
food_count = [eggs,bacon,sausages]

In [39]:
food_count

[6, 1, 4]

Imagine for a second we didn't know which variables were used to create the food counts. How would we know how much bacon we had? It could be any of the numbers in the list, this is where dictionaries are useful.

## Tuples

Tuples are very similar to list execpt they are **immutable**, this means once they have been created we ** can not ** change there values, add values or remove values . Another difference is in the syntax, we use curved brackets `()` to create tuples rather than the sqaure brackets used to create list. Tuples are also slightly faster to create than list.

In [34]:
a_tuple = (1,2,3,4)

## Sets

Sets are similar to list except that they can only contain unique values. Checking if a value is present in a set is very quick and can be done using the `in` keyword.

In [5]:
a_set = set([1,2,3,1,1,2,3,4])
a_set

{1, 2, 3, 4}

In [6]:
1 in a_set #check if 1 is in the set

True

In [7]:
5 in a_set #check if 5 is in the set

False

## Dictionaries

Dictionaries are a **key value store**. To elaborate in a traditional dictionary we have a `key` which is a word and we used that key to look up some value which is the definition. We use curly brackets (`{}`) to create a dictionary and to seperate the key and value we use a colon ( `:` ). Each key value pair (or entry) is seperated by a comma.

In [35]:
food_counts = {'eggs':6 , 'bacon':1 , 'sausages':4}

I can now get the amount of bacon by using the `'bacon'` key to look up the value of 1. We use the key name surrounded by sqaure brakets to retreive the value.

In [36]:
food_counts['bacon']

1

Maybe I counted the amount of bacon wrong and I wanted to change it.

In [37]:
food_counts['bacon'] = 5

In [38]:
food_counts #bacon is now 5

{'bacon': 5, 'eggs': 6, 'sausages': 4}

We could add another food the the diconary like so

In [39]:
food_counts['hash browns'] = 0

In [40]:
food_counts

{'bacon': 5, 'eggs': 6, 'hash browns': 0, 'sausages': 4}

In a dictonary **the key should be unique**. If we use multiple keys of the same name, we can't be sure which one will be returned.

In [41]:
bad_dict = {'key':5,'key':6,'key':2}

In [42]:
bad_dict['key']

2

## Section Summary

In python we have 3 basic data containers, lists, tuples and dictionaries. When solving problems using the appropriate data type will make it easier. As you program more you will build intuition as to which data container to use. List and tuples are both used to store collections of values, however list are mutable ,tuples are immutable. Dictionaries are key value stores.

# Indexing

Indexing can be used to retrieve values from any data type that contains a sequence of items, this includes strings, lists and tuples.   Python uses 0 based index, so we count starting from zero rather than 1 which you might be used to.

In [47]:
string_var = '0123this is the indexing sentence'

In [52]:
s = "Sammy Shark!"

<table><thead>
<tr>
<th>S</th>
<th>a</th>
<th>m</th>
<th>m</th>
<th>y</th>
<th></th>
<th>S</th>
<th>h</th>
<th>a</th>
<th>r</th>
<th>k</th>
<th>!</th>
</tr>
</thead><tbody>
<tr>
<td>0</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
<td>6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td>10</td>
<td>11</td>
</tr>
</tbody></table>

By using the square brackets we can retrieve the character at that index

In [53]:
s[0]

'S'

We can also use negative indexing.
<table><thead>
<tr>
<th>S</th>
<th>a</th>
<th>m</th>
<th>m</th>
<th>y</th>
<th></th>
<th>S</th>
<th>h</th>
<th>a</th>
<th>r</th>
<th>k</th>
<th>!</th>
</tr>
</thead><tbody>
<tr>
<td>-12</td>
<td>-11</td>
<td>-10</td>
<td>-9</td>
<td>-8</td>
<td>-7</td>
<td>-6</td>
<td>-5</td>
<td>-4</td>
<td>-3</td>
<td>-2</td>
<td>-1</td>
</tr>
</tbody></table>

In [54]:
s[-1]

'!'

In [55]:
s[-5]

'h'

## Slicing 
By using two numbers seperated by a colon we can speficy a range of characters we want.

In [56]:
s[0:5]

'Sammy'

When we're going to start from the 0th index we can just leave out the 0.

In [57]:
s[:5]

'Sammy'

The indexing is exlusive, meaning when you index it's up until the final number but doesn't include it.

In [58]:
s = "abcdef"
s[:3] #doesnt include the 3rd index of d

'abc'

When we have nested list, or a list inside a list we have to index twice to get the element we want.

In [20]:
x = [1,'Monday',[50,20]]
x[2][0]

50

In [1]:
x= [[1,2,3,4],
    [5,6,7,8]] #2D array or a matrix
x[-1][-2:] #get last two elements form second list

[7, 8]

Indexing into nested list can be a little troublesome for example what if i wanted to select all values in the first collumn? Thankfully libraries like numpy provide better data structures for 2D lists (matrices), we'll cover numpy at a later date. 

We can use indexing to replace values in a list.

In [67]:
l = [2,3,4,5]

In [68]:
l[3] = 20

In [69]:
print(l)

[2, 3, 4, 20]

In [44]:
l[1:] = ['a','b','c']
l

[2, 'a', 'b', 'c']

Since strings are immutable in python we can't use indexing to change characters, instead we have to use string methods like `.replace`. It's a similar situation with tuples, there immutable so we can't change values using indexing.